In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
import matplotlib.pyplot as plt

#df=pd.read_excel('restaurants.xlsx')

In [4]:
df = pd.read_excel('REST_Analysis_JAPANESE.xlsx')

In [5]:
df

,name,price,bookmark,happy,sad,food_type,location,num_branch,num_seat,pay_list,other_facility,taste,decor,service,hygiene,value,overall
0,Yadllie Plate,$101-200,84643,963,54,Korean,Mong Kok,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tearapy 茶聊,$101-200,48235,749,33,International,Mong Kok,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Outdark (飛達商業中心),$201-400,45278,816,20,Korean,Mong Kok,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mini Friday (銀城廣場),$201-400,46949,773,43,Western,Mong Kok,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,URBAN Cafe (彌敦道),Below $50,37840,829,5,International,Mong Kok,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,Saizeriya Italian Restaurant (Panda Place) 薩莉亞...,$51-100,2506,51,2,Italian,Tsuen Wan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1396,Corner Kitchen 巷仔冰室,$101-200,1485,35,6,Western,Tsuen Wan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1397,Gyujin Shabu Shabu & Sukiyaki Restaurant (City...,$101-200,1543,64,2,Japanese,Tsuen Wan,7.0,0.0,"AlipayHK,Alipay,Cash","May Bring Your Own Wine,Cake-cutting,10% Servi...",4.0,4.0,4.0,4.0,4.0,20.0
1398,侍元,$51-100,384,27,5,Japanese,Tsuen Wan,1.0,0.0,"Visa,AlipayHK,Alipay,Cash,Octopus,OpenRice Pay",Spot payment,3.0,4.0,3.0,4.0,4.0,18.0
1399,Genki Sushi 元気寿司,$101-200,1126,51,3,Japanese,Tsuen Wan,64.0,0.0,"Visa,Master,Cash,Octopus,AE,UnionPay,JCB,Apple...","Restaurant Mode of Operation - Type B,Kid-frie...",3.0,4.0,3.0,3.0,3.0,16.0